.fixed-nav { 
 position: fixed;
top: 0;
background-color: lightblue;
width: 100%;
display: flex;
justify-content: space-between;
color: black;
align-items: center;
}
.nav-links{ 
display:flex;
list-style: none;
margin-bottom: 5;
}

a{ 
    padding: 8px 10px;
    font-size: 1.5rem;
   
    

}
.fixed-nav a {
    text-decoration: none;
    color: black;

}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/sunset.jpg');
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("images/sunset.jpg");
    background-size: cover;

}

.hero-desc{
    color: black;
    font-size: 2rem;

}
.hero-title{
   font-size: 4.5rem;
   color: black;
   
}
.hero-text{
  text-align: center;
  color: black;
}
.section-header{
    text-align: center;
}

.about-container{
    display: flex;
   

}

.about-text{
    padding-left: 2rem;

}

.about-container img{
width: 25%;
border-radius: 50%;
}

#about{
    padding: 1rem;
}
#contact{
    padding: 2rem;
    text-align: center;
}

.contact-link{
    text-decoration: none;
    display: block;
}
.portfolio-container {
    display: flex;
    justify-content: space-between;
  }
  #portfolio {
    padding: 2rem 6rem 2rem 6rem;
    background-color: rgba(226, 218, 222, 0.5);
  }
  .portfolio-item {
    width: 40%;
    text-align: center;
    border: 1px #888888 solid;
    border-radius: 25px;
    box-shadow: 5px 10px;
    box-shadow: 5px 8px #888888;
    background-color: white;
  }
  .portfolio-item h2 {
    padding-top: 10px;
  }
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-bottom: 0;
  }
  
  a {
    padding: 8px 10px;
    font-size: 1.5rem;
  }
  
  .fixed-nav a {
    color: black;
    text-decoration: none;
  }
  
  .hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/sunset.jpg");
    background-size: cover;
  }
  
  .hero-title {
    font-size: 4.5rem;
  }
  
  .hero-desc {
    font-size: 2rem;
  }
  
  .hero-text {
    text-align: center;
    color: white;
  }
  
  .section-header {
    text-align: center;
  }
  
  .about-container {
    display: flex;
  }
  
  .about-text {
    padding-left: 2rem;
    padding-top: 2rem;
  }
  
  .about-container img {
    width: 25%;
    border-radius: 50%;
  }
  
  #about {
    padding: 2rem;
  }
  
  #contact {
    padding: 2rem;
    text-align: center;
  }
  
  .contact-link {
    text-decoration: none;
    display: block;
  }
  
  .portfolio-container {
    display: flex;
    justify-content: space-between;
  }
  
  #portfolio {
    padding: 2rem 6rem 2rem 6rem;
    background-color: rgba(226, 218, 222, 0.5);
  }
  
  .portfolio-item {
    width: 40%;
    text-align: center;
    border: 1px #888888 solid;
    border-radius: 25px;
    box-shadow: 5px 10px;
    box-shadow: 5px 8px #888888;
    background-color: white;
  }
  
  .portfolio-item h2 {
    padding-top: 10px;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }



  
  .navbarPink {
    background-color: pink;
    transition: 0.3s;
  }

  /* need to make height 100% otherwise there is a space below the footer */
html,
body {
  height: 100%;
}

footer {
  text-align: center;
  vertical-align: center;
  background-color: rgba(226, 218, 222, 0.75);
}

.footer-text {
  padding-top: 3px;
}

.app-desc {

color: black;
padding: 10px;
}

.view-Button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883E;
  height: 48px;
   
}
.view-Button :hover{
  background-color: #1DB954;
}